################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UniversityWebApp/bin/Debug/net8.0
/UniversityWebApp/obj
